.navbar {
    min-height: 10vh;
    width: 80vw;
    background-color: #221f1f;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


ul {
    list-style: none;
    display: flex;
    align-items: center;
}

ul li {
    margin-right: 25px;
}

ul li a{
    text-decoration: none;
    color: white;
}


